@import "tailwindcss";

* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #145DA0;
    --primary-hovered-color: #0c3a64;
    --secondary-color: #e9e9e9;
}

.heading-font-1 {
    font-size: 48px;
    font-weight: 800;
}

.heading-font-2 {
    font-size: 36px;
    font-weight: 700;
}

.heading-font-3 {
    font-size: 24px;
    font-weight: 600;
}

.regular-font-1 {
    font-size: 16px;
    font-weight: 400;
}

.regular-font-2 {
    font-size: 16px;
    font-weight: 500;
}

.regular-font-3 {
    font-size: 14px;
    font-weight: 400;
}

.primary-btn {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}

.primary-btn:hover {
    background-color: var(--primary-hovered-color);
    cursor: pointer;
    border-color: var(--primary-hovered-color);
}

.secondary-btn {
    border: 2px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    padding: 5px 20px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}

.secondary-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white;
    cursor: pointer;
}

/* nav {
    border: 2px solid black;
} */


/* header section */

header {
    background-image: url(../images/banner-bg-img.png);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-links {
    transition: 0.3s ease-in-out;
}

/* #nav-logo {
    border: 2px solid black;
} */

#login-btn {
    color: var(--primary-color);
}

.nav-links:hover {
    color: var(--primary-color);
}

.banner-card {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: 30%;
    text-align: center;
}

.banner-card-1 {
    transform: translateY(200px) translateX(-120px);
    width: 50%;
}

.banner-card-2 {
    transform: translateY(-30px) translateX(-40px);
}

.bi-briefcase-fill {
    font-size: x-large;
    color: #5d423b;
}

/* top freelancer section */

/* .top-freelancers{
    border: 2px solid black;
} */

.rating-star i {
    color: rgb(255, 187, 0);
}

.top-freelancer-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.top-freelancer-card {
    background-color: var(--secondary-color);
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    transition: 0.2s ease-in-out;
}

.top-freelancer-card:hover {
    scale: 1.03;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgb(160, 160, 160);
}

.top-freelancer-card-img {
    width: 100%;
}

/* latest job section */

.latest-jobs {
    background-color: var(--secondary-color);
}

.latest-jobs-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-items: baseline; */
    /* align-items: center; */
    gap: 30px;
}

.job-nav {
    /* border: 2px solid black; */
    height: 250px;
    overflow: auto;
}

.job-categories {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 7px 0px;
    transition: 0.3s ease-in-out;
    margin: 5px 0;
    width: fit-content;
}

.job-categories:hover {
    color: var(--primary-color);
    background-color: #b4b4b4;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.num-of-jobs {
    background-color: var(--primary-color);
    padding: 2px 5px;
    color: white;
    border-radius: 10px;
}

.display-job-category {
    display: flex;
    gap: 5px;
    justify-content: space-around;
}

.display-job-category p {
    padding: 8px 15px;
    color: white;
    background-color: #0146B1;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.display-job-1 {
    /* border: 2px solid black; */
    background: linear-gradient(160deg, rgba(0, 56, 240, 0.94) 5.04%, rgba(41, 157, 242, 0.75) 98.97%);
    border-radius: 15px;
}

.display-job-2 {
    border: 1px solid #b6b6b6;
    background: transparent;
    border-radius: 15px;
}

.display-job-amount {
    color: #5AFEF4;
    font-size: 24px;
    font-weight: 600;
}

.company-logo {
    background-color: white;
    border-radius: 10px;
}

.display-job-count {
    background-color: #5AFEF4;
    color: black;
    padding: 5px 10px;
    border-radius: 15px;
}

.display-job-heading {
    font-size: larger;
    font-weight: 600;
}

.display-job-count-2 {
    background-color: #b6b6b6;
    color: black;
    padding: 5px 10px;
    border-radius: 15px;
}

.display-job-amount-2 {
    font-size: 24px;
    font-weight: 600;
}

.display-job-category-2 {
    display: flex;
    gap: 5px;
    justify-content: space-around;
}

.display-job-category-2 p {
    padding: 8px 15px;
    background-color: #b6b6b6;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.company-logo-2 {
    background-color: black;
    border-radius: 20px;
}

.display-job-see-more {
    color: rgb(80, 80, 80);
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}

.display-job-see-more:hover {
    color: var(--primary-color);
    cursor: pointer;
}

/* talent section */

.talent-category-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.talent-category {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 15px;
    display: grid;
    gap: 10px;
    justify-items: center;
    align-items: center;
    box-shadow: 5px 5px 5px #919191;
    text-align: center;
}

.bi-talent {
    color: var(--primary-color);
    font-size: xx-large;
}

.talent-see-more {
    padding: 20px;
    color: #777777;
    text-decoration: underline;
    text-align: right;
    transition: 0.3s ease-in-out;
    width: fit-content;
}

.talent-see-more:hover {
    color: var(--primary-color);
    cursor: pointer;
}

/* client's comments section */

.client-comment {
    background-color: var(--secondary-color);
}

.bi-arrow-left,
.bi-arrow-right {
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    padding: 5px 9px;
    transition: 0.3s ease-in-out;
}

.bi-arrow-left {
    color: var(--primary-color);
}

.bi-arrow-left:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.bi-arrow-right {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.bi-arrow-right:hover {
    background-color: var(--primary-hovered-color);
    cursor: pointer;
    border-color: var(--primary-hovered-color)
}

.comment {
    width: 300px;
    align-items: center;
    text-align: center;
    padding: 15px;
    border: #919191;
    border-radius: 15px;
    transition: 0.4s ease-in-out;
}

.comment:hover {
    background-color: rgb(243, 243, 243);
    box-shadow: 5px 5px 5px #919191;
    scale: 1.02;
    cursor: pointer;
}

.comment-body {
    border-top: 1px solid #919191;
    border-bottom: 1px solid #919191;
    /* border-radius: 15px; */
}

.border-line {
    height: 350px;
    width: 1px;
    background-color: #919191;
}

.comment-comma-1 {
    font-size: large;
    font-weight: 800;
    color: #00A79D;
}

.comment-comma-2 {
    font-size: large;
    font-weight: 800;
    color: #966AF5;
}

.comment-comma-3 {
    font-size: large;
    font-weight: 800;
    color: #FCA326;
}

.comment-quote-1 {
    font-size: x-large;
    color: #00A79D;
}

.comment-quote-2 {
    font-size: x-large;
    color: #966AF5;
}

.comment-quote-3 {
    font-size: x-large;
    color: #FCA326;
}

/* get-started-section */

.get-started-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    background: linear-gradient(160deg, rgba(0, 56, 240, 0.94) 5.04%, rgba(41, 157, 242, 0.75) 98.97%);
}

.get-started-img{
    width: 60%;
    margin: 0 auto;
    scale: 1.6;
    /* box-shadow: 10px 10px 10px #919191; */
}

.get-started-btn{
    color: var(--primary-color);
    background-color: white;
    border: none;
    box-shadow: 4px 4px 4px #0c3a64;
    transition: 0.3s ease-in-out;
}

.get-started-btn:hover{
    scale: 1.06;
    color: var(--primary-color);
    background-color: white;
    border: none;
    box-shadow: 5px 5px 10px #0c3a64;
}